*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#display {
	display: grid;
	grid-template-rows: 150px 150px 150px;
	grid-template-columns: 150px 150px 150px;
}

.square{
	border: 0.2px solid black;

	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3em;
}